.wrapper {
margin: 0;
padding: 0;
background-image: url(/img/fon.jpg);
}


/*------------------------------------------------------------------*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 213, 213);
    position: relative;
    border-radius: 0px 0px 35px 35px;
}

.header-title {
    font-size: 30px;
    color: rgb(90, 90, 90);
}

.header-link {
text-decoration: none;
color: rgb(222, 115, 115);
transition: 0.5s;
font-size: 20px;
font-weight: bold;
position: absolute;
right: 20px;
top: 20px;
}

.header-link:hover {
    transform: scale(1.2);
}

/*------------------------------------------------------------------*/

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 213, 213);
    margin: 25px 60px 0px 60px;
    border-radius: 35px 0px 35px 0px;
}

.content-title{
    font-size: 100px;
    text-shadow: 3px 3px 5px rgb(255, 145, 145);
}

/*------------------------------------------------------------------*/

.contact {
    display: flex;
    background-color: rgb(213, 213, 213);
    margin-top: 25px;
    justify-content: space-around;
    padding: 15px 15px;
    border-radius: 35px 35px 0px 0px;


}

.number {
    display: flex;
}

.email {
    display: flex;
}

.contact-number {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(222, 115, 115);
    font-size: 20px;
}

.contact-email {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(222, 115, 115);
    font-size: 20px;
}

.contact__img {
    max-width: 25px;
}




